{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Add Note</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    {% if messages %}
    {% for message in messages %}
        <div class="success-message">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}
<nav>
    <a href="/">🏠 Home</a>
    <a href="/notes/">📚 All Notes</a>
    <a href="/add-note/">➕ Add Note</a>

    {% if user.is_authenticated %}
    <span style="color: white; margin: 0 20px;">
        👋 Welcome, {{ user.username }}
    </span>
    <a href="/logout/">🚪 Logout</a>
{% else %}
    <a href="/login/">🔐 Login</a>
    <a href="/register/">📝 Register</a>
{% endif %}
</nav>
    
    <div class="form-container">

        <h1>➕ Add New Note</h1>

        <p>Share your study notes with others.</p>

        <form method="POST" enctype="multipart/form-data">

            {% csrf_token %}

            <label>Title:</label>
            <input type="text" name="title" required>

            <label>Subject:</label>
            <input type="text" name="subject" required>

            <label>Description:</label>
            <textarea name="description" rows="5" required></textarea>

            <label>Upload File:</label>
            <input type="file" name="file" required>

            <button type="submit">⬆️ Upload Note</button>

        </form>

        <a href="/notes/" class="back-link">
            ← Back to Notes
        </a>

    </div>

</body>
</html>